.restaurant-hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-hero{
    background-color: bisque;
    padding: 15px 25px;
    border: 0;
    border-radius: 5px;
    margin-top: 2rem;
}

.hero-content{
    padding-top: 6rem;
    margin-left: 2rem;
}