.nav-class{
  padding: 0.2rem 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-height: 3rem;
}

.nav-img{
  height: 2.5rem;
}

.wrapper-reservaciones{
  background-image: url(../src/assets/img/wallpaper-burger.jpg);
  background-size: cover;
  opacity: 90%;
}

.btn-submit{
  background-color: black;
}

.wrapper-footer{
  background-color: black;
}

.icon{
  height: 50px;
  margin: 5px;
}

@media screen and (max-width: 420px){
  .wrapper-footer{
    background-color: black;
    }

    .wrapper-icons{
      display: flex;
      justify-content: center;
    }

}